<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Garden View</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1> What a Beautiful Garden </h1>
      <nav>
        <a href="/"> Home </a>
        <br />
        <a href="/gardens"> All Gardens </a>
        <br />
        <a href="/plants"> All Plants </a>
        <br />
        <a href="/plants/new"> Plant Something </a>
      </nav>
    </header>

    <main>
      <section class="edit">
        <a href="/gardens/<%=garden._id%>/edit">Alter the Garden</a>
      </section>

      <section class="delete">
        <form action="/gardens/<%=garden._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Mow it down" />
        </form>
      </section>

      <div>
      <section>
        <h2> <%=garden.name%> </h2>
        <br />
        <h3> Style </h3>
        <p> <%=garden.style%> </p>
        <br />
        <h3> Description </h3>
        <p> <%=garden.description%> </p>
      </section>

      <section>
        <div class="plants-wrap">
          <% for(var i = 0; i < garden.plants.length; i++){ %>
            <div class="plant"><a href="/plants/<%=garden.plants[i]._id%>"> <img class="shake" src="<%=garden.plants[i].img%>"></a>
            </div>
        <% } %>
        </div>
      </section>
    </div>
    </main>

  </body>
</html>
