<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Garden View</title>
  </head>

  <body>
    <header>
      <h1> What a Beautiful Garden </h1>
      <nav>
        <a href="/"> Home </a>
        <br />
        <a href="/gardens"> All Gardens </a>
        <br />
        <a href="/plants"> All Plants </a>
      </nav>
    </header>

    <main>
      <section>
        <h2> <%=garden.name%> </h2>
        <br />
        <div>
          <!-- shows all the images -->
          <% for(var i = 0; i < garden.plants.length; i++){ %>
            <div class="plant"><a href="/plants/<%=garden.plants[i]._id%>">
              <!-- need to show images here, but these will be assets based on plants planted -->
              </a>
            </div>
        <% } %>
        </div>
        <h3> Style </h3>
        <p> <%=garden.style%> </p>
        <br />
        <h3> Description </h3>
        <p> <%=garden.description%> </p>
      </section>

      <section>
        <a href="/gardens/<%=garden._id%>/edit">Alter the Garden</a>
      </section>

      <section>
        <form action="/gardens/<%=garden._id%>?_method=DELETE" method="POST">
          <input type="submit" value="Mow it down" />
        </form>
      </section>
    </main>

  </body>
</html>
