<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plant Something</title>
    <!-- bootstrap -->
    <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- my stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- typefaces -->
    <link href="https://fonts.googleapis.com/css?family=Ribeye+Marrow" rel="stylesheet">
  </head>
  <body>

    <header>
      <h1> Modify the Plant</h1>
      <nav>
        <a href="/"> Home </a>
        <br />
        <a href="/plants"> Go Back </a>
      </nav>
    </header>

    <main>
      <form action="/plants/<%=plant._id%>?_method=PUT" method="POST">
        <label> Garden:</label>
        <select name="gardenId" required>
          <% for (var i = 0; i < gardens.length; i++) {%>
            <option value="<%=gardens[i]._id%>"
              <% if (gardens[i]._id.toString() === plantGarden._id.toString()) {%>
              selected
              <%}%>
              >
              <%=gardens[i].name%>
            </option>
          <%}%>
        </select>
        <!-- you also should do this for colors and only have a few available for each plant, use if statements to make this work -->
        <br />
        <label> Name: </label> <input type="text" name="name" value="<%=plant.name%>" required/>
        <br />
        <label>Likes:</label> <input type="text" name="likes" value="<%=plant.likes%>" />
        <br />
        <label>Description:</label>
        <!-- make this a textbox -->
        <input type="text" name="description" value="<%=plant.description%>" />
        <br />
        <!-- make this a checkbox? -->
        <label> Type: </label>
        <input type="text" name="type" value="<%=plant.type%>" />
        <br />
        <input type="submit" value="Update the Plant" />
      </form>
    </main>

    <!-- js and jquery links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/app.js"></script>

  </body>
</html>
